
@{
    ViewData["Title"] = "Create";
}
@model Domain.Entity.User
<h1>@Model.UserName</h1>

<h1>@(Model.Id > 0 ? "编辑" : "添加")用户</h1>
@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.HiddenFor(c => c.Id)
    @Html.HiddenFor(c => c.UserName)
    @Html.HiddenFor(c => c.PassWord)
    @Html.HiddenFor(c => c.PhoneNumber)
    @Html.HiddenFor(c => c.RoleId)
    @Html.HiddenFor(c => c.TenantId)
    @Html.HiddenFor(c => c.Email)
    @Html.HiddenFor(c => c.CreationTime)
    @Html.HiddenFor(c => c.CreatorUserId)
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div>
        <input type="submit" value="保存" />
    </div>
}